$black: #000;
$gray: #d8d9db;
$gray-dark: #c4c4c4;
$gray-light: #f3f4f8;
$red: #ee1c25;
$white: #fff;

$blue-dark: #006fb9;
$blue: #00aeed;
$blue-light: #e6f0f9;

$green: #28b34c;
$green-light: #eaf7ed;

$orange: #f7941f;
$orange-light: #fef4e8;

$pink: #f5c1c3;


$defaultColor: #000;
$defaultBg: #fff;

$defaultFont: 'Open Sans';
$titleFont: 'Geometria';
$imgPath: "../images"; 
